* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    position: relative;
    width: 1600px;
    height: 1419px;
    max-height: 1419px;
  }
  
  /* navbar*/
  
  nav {
    position: absolute;
    width: 663px;
    height: 60px;
    left: 1800px;
    top: 30px;
    
    
  
  }
  a {
    margin-left: 35px;
    font-size: 16px;
    text-decoration: none;
    
  }
  

  header {
    position: absolute;
    width: 1415px;
    height: 654px;
   
    margin-top:100px;
    margin-left: 872px;
  }
  
  .gubbe-head {
    margin-left: 840px;
    height: 654px;
    width: 687px;
    top: 167px;
   
  }
  
  
  main {
    position: absolute;
    width: 1242px;
    height: 550px;
    margin-top: 800px;
    margin-left: 872px;
  }
  
  .H-gubbe-mitten{
    position: absolute;
    width: 481px;
    height: 100px;
    top: 89.56px;
    left: 761px;
    font-size: 36px;

}

  .gubbe-mitten-text {
    position: absolute;
    width: 450px;
    height: 120px;
    top: 209.56px;
    left: 761px;
    font-size: 17px;
    line-height: 30px;
  }
  /* section*/
  
  .img1 {
    width: 264px;
    height: 231px;
    overflow: hidden;
    border-radius: 8px;
    margin-left: 10.2px;
  }
  
  .img2 {
    width: 264px;
    height: 231px;
    margin-left: 10.2px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  section {
    position: absolute;
    width: 1170.05px;
    height: 684px;
   
    margin-top: 1400px;
    margin-left: 875px;
  }

  h2 {
    position: absolute;
    width: 221.15px;
    top: 275.56px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;
    margin-left: 15px;
  }

  .bt1 {
    position: absolute;
    width: 221.15px;
    top: 350.56px; 
    margin-left: 15px;
  }

  
  

  .hb4 {
    position: absolute;
    width: 221.15px;
    left: 850px;
    top: 285.56px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
  }


  .pbt4 {
    position: absolute;
    width: 221.15px;
    left: 870px;
    top: 355.56px;
  }


  .r1 {
    position: absolute;
    width: 221.15px;
    color: #FB8F1D;
    top: 430.56px;
    font-size: 15px;
    margin-left: 15px;
  }

  .r4 {
    position: absolute;
    width: 221.15px;
    left: 870px;
    top: 460.56px;
    font-size: 15px;
    color: #FB8F1D;
  }
  
  /* Button*/
  
  .btn-login {
    display: block;
    background-color: #fb8f1d;
   color: #f9f9fb;
    text-decoration: none;
    position: absolute;
    width: 100px;
    height: 30px;
    left: 360px;
    top: -10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }
  

  .btn-Register {
    display: block;
    background-color: #fb8f1d;
    color: #f9f9fb;
    text-decoration: none;
    position: absolute;
    width: 100px;
    height: 30px;
    left: 465px;
    top: -10px;
    border-radius: 10px;
    text-align: center;
    
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    cursor: pointer;
  }
  /* footer*/
  
  p {
    font-size: 20px;
    font-weight: bold;
  }
  
  p.f2 {
    color: #848484;
    position: relative;
    left: 5.59%;
    right: 41.57%;
    top: 30.18%;
    bottom: 45.65%;
  }
  
  footer {
    position: absolute;
    width: 1641px;
    height: 350px;
    left: 600px;
    margin-top: 2200px;
    background-color: #f9f9fb;
  }
  
  .column {
    float: right;
    width: 25%;
    height: 280px;
  }
  
  footer .logofooter {
    background-image: url("img/footer.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 11.65%;
    right: 65.67%;
    top: 16.18%;
    bottom: 40.69%;
  }
  
  footer .twitter {
    background-image: url("img/twitter.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 39.27%;
    right: 59.21%;
    top: 85%;
    bottom: 6.85%;
  }
  
  footer .facebook {
    background-image: url("img/facebook.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 42.93%;
    right: 56.46%;
    top: 84.59%;
    bottom: 6.85%;
  }
  
  footer .instagram {
    background-image: url("img/instagram.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 45.67%;
    right: 52.99%;
    top: 84.8%;
    bottom: 6.64%;
  }
  
  footer .linkedin {
    background-image: url("img/linkind.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 49.15%;
    right: 49.45%;
    top: 84.59%;
    bottom: 6.85%;
  }
  
  footer .youtube {
    background-image: url("img/youtube.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 52.68%;
    right: 45.61%;
    top: 85%;
    bottom: 6.85%;
  }